@font-face {
  font-family: "THE_Nakseo";
  src: url("/font/THE_Nakseo.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  background-color: #faf7f2;
  font-family: "THE_Nakseo", system-ui, sans-serif;
}
.notebook {
  min-height: 100vh;
  padding: 32px 24px 32px 72px;
  line-height: 28px;
  font-size: 18px;

  background:
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 27px,
      rgba(0, 0, 255, 0.08) 28px
    );
}

.notebook::before {
  content: "";
  position: fixed;
  top: 0;
  left: 48px;
  width: 2px;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.25);
}
