@font-face {
  font-family: "THE_Nakseo";
  src: url("/src/assets/font/THE_Nakseo.ttf") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  min-height: 100vh;

  background:
    radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.5),
      transparent 40%
    ),
    linear-gradient(
      to bottom,
      #f3efe7,
      #e9e3d9
    );

  font-family: "THE_Nakseo", system-ui, sans-serif;
}
